# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Refactoring_Agent.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/HenryAI.Agent.Domain/obj
/HenryAI.Agent.Domain/bin
/HenryAI.Agent.Host/obj
/HenryAI.Agent.Host/bin
/HenryAI.Agent.ExternalDependencies/obj
/HenryAI.Agent.ExternalDependencies/bin
.idea/
*.user
